.post {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;

  .content {
    text-align: left;
    line-height: 1.8em;

    p {
      text-indent: 2em;
    }

    blockquote {
      p {
        font-size: smaller;
      }
    }

    a {
      color: #42b983;
      border-bottom: 2px solid transparent;
    }
  }

  .date {
    font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
    font-size: 13px;
    color: #999;
    margin: 0 0 30px;
    letter-spacing: 1px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  hr {
    display: none;
  }

  .footnotes {
    margin-top: 40px;

    p {
      text-indent: 0;
      margin: 0;

      a {
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .post {
    padding-bottom: 20px;
  }
}

.read-next-story {

  h4 {
    margin-bottom: 10px;

    span {
      color: #42b983;
    }
  }
}